<section class="section background cd-section" id="about">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>East coast lad my entire life, born in Washington D.C. and raised in Silver Spring, MD. Ask me anything about the DMV! Decided to continue the trend of firsts in my family — after being the first to graduate from college — and take a leap and move to the West Coast soon after graduation.</p>

    <p>Feels great to finally have that degree hanging on the wall!</p>

    <p>It's been a long, tough journey completing my academic career but I have accomplished my mission, and have ended it hungrier and more determined than ever. To start 2018, I am moving to the San Francisco Bay Area (big, big move) where I will be seeking full-time application and/or back-end development positions. This will be the start to my career and I am looking to make the most of it.</p>

    <p>Food, cooking, music and sports have my heart. Sooner or later, part of this site will include my personal interests: things I love to eat or make and look to make in the future, my favourite sports teams, my personal musical Mount Rushmore, and so much more. Look out for these updates!<p>
  </div>
</section>
