<header class="intro cd-section" id="intro">
  <img class="intro-headshot" src="img/headshot.png" alt="Headshot"/>

  <h1 class="">Greetings,</h1>

  <h2 class="">Welcome to my page. My name is Donnell Muse, a software engineer who decided to use a portfolio page as a chance to learn and practice some new things. If you've seen the construction page before this, you could tell the amount of work I have put towards this site to get it where it is. Feel free to look around.</h2>

  <h3 class="">Reach me at any time at <span><a href="mailto:donnellnmuse@gmail.com" target="_blank" class="highlight-link">donnellnmuse@gmail.com</a></span>
</header>
