<header class="section intro" id="intro">
  <!-- <img class="intro__headshot" src="img/headshot.png" alt="Headshot" /> -->

  <h1 class="intro__hello">Greetings,</h1>

  <h2 class="intro__tagline">Welcome to my page. My name is Donnell Muse, a software engineer who decided to use a portfolio page as a chance to learn and practice some new things. If you've seen the construction page before this, you could tell the
    amount of work I have put towards this site to get it where it is. Feel free to look around.</h2>

  <h3 class="intro__contact">
    <span>Reach me at any time at</span>
    <span><a href="mailto:donnellnmuse@gmail.com" target="_blank" class="highlight-link">donnellnmuse@gmail.com</a></span>
  </h3>
</header>
