<section class="section skillz cd-section" id="skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skills">
      <div class="skills__level">
        <div class="skills__label">Languages</div>
        <ul>
          {% for lang in site.data.skills.languages %}
          <li class="skills__item">{{lang.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skills__level">
        <div class="skills__label">Web</div>
        <ul>
          {% for web in site.data.skills.web %}
          <li class="skills__item">{{web.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skills__level">
        <div class="skills__label">Databases</div>
        <ul>
          {% for db in site.data.skills.databases %}
          <li class="skills__item">{{db.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skills__level">
        <div class="skills__label">Data/ML</div>
        <ul>
          {% for data in site.data.skills.data %}
          <li class="skills__item">{{data.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
